---
---



<article>
    <img src="../../public/icons/create-icon.svg" alt="create icon">
    <a href="#">Create Playlist</a>
</article>

<style>

article{
    display: flex;
    align-items: center;
    gap: 5px;
}

img{
    padding: 3px;
    border-radius: 3px;
    border: solid black 2px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
    
</style>