---
---


<article>
    <img src="../../public/icons/home.svg" alt="home icon">
    <a href="/">Home</a>
</article>

<style>
    article{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        text-decoration: underline;
    }

</style>