---

---

<article>
    <img src="../../public/icons/heart-icon.svg" alt="heart icon">
    <a href="#">Liked Songs</a>
</article>

<style>

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
    
</style>