---
---

<a href="#">Log in</a>

<style>

a{
    text-decoration: none;
    background-color: rgb(250, 250, 250);
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    color: black;
}

a:hover{
    text-decoration: underline;
}

</style>