---
---


<article>
    <img src="../../public/icons/search-icon.svg" alt="search icon">
    <a href="/search">Search</a>
</article>

<style>

article{
        display: flex;
        align-items: center;
        gap: 5px;
    }

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
    
</style>