---
---

<article>
    <img src="../../public/icons/library-icon.svg" alt="library icon">
    <a href="#">Your Library</a>
</article>

<style>

article{
        display: flex;
        align-items: center;
        gap: 5px;
    }

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
    
</style>